.Display-container{
    width: 100%;
    height: 500px;
    background-color: rgb(66, 65, 65) ;

}
.Display-btns{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aquamarine;
}
.Display-btns>button{
    width: 230px;
    height: 50px;
    background-color: aquamarine;
    color: black;
    border-radius: 5px;
    border: 1px solid aquamarine;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;

}

.displayname>div{
    border: 1px solid white;
    padding: 20px;
    color: white;
    font-size: 26px;
}